@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
body{
background-image: url(imagens/fundo-metal.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.cabecalho{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    max-width: 400px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap:32px;
}

.cabecalho-menu-item{
    color: white;
}

.conteudo{
    border-top: 0.8px solid black;
    margin-bottom: 1px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-weight: 400;
    font-size: 64px;
    color: yellow;
    text-shadow: 4px 5px 4px black;
}

.conteudo-principal-escrito-subtitulo{
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.conteudo-principal-escrito-botao{
    background-color: rgb(17, 3, 48);
    width: 180px;
    height: 60px;
    border:none;
    box-shadow: 4px 5px 4px rgb(0, 0, 0) ;
    color: white;
    border-radius: 20px;
}

.conteudo-principal-escrito-botao:hover{
    background-color: black;
}

.conteudo-principal-imagem{
    height: 350px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.548);
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top:0.8px solid yellow;
    padding-top:48px;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    color: white;
    font-weight: 200;
}

.rodape{
    background-color: black;
    padding: 0px;
    border-top:0.8px solid black
}

.rodape-imagem{
    height: 100px;
    width: 600px;
    display: block;
    margin: 0 auto;
}

.rodape>p{
    color: white;
}